[% WRAPPER "wrapper-staff-tool-plugin.inc" method="tool" plugin_title="Secure Publisher Logins" %]

<h1>Secure Publisher Logins</h1>

[% IF !health.ok %]
<div class="alert alert-danger">
  <strong>Configuration required:</strong>
  <ul class="mb-0">[% FOREACH e IN health.errors %]<li>[% e | html %]</li>[% END %]</ul>
</div>
[% END %]

[% IF health.warnings.size %]
<div class="alert alert-warning">
  <ul class="mb-0">[% FOREACH w IN health.warnings %]<li>[% w | html %]</li>[% END %]</ul>
</div>
[% END %]

<p>
  <a class="btn btn-default" href="/cgi-bin/koha/plugins/run.pl?class=[% CLASS | uri %]&amp;method=tool&amp;action=new">Add login info</a>
  <a class="btn btn-default" href="/cgi-bin/koha/plugins/run.pl?class=[% CLASS | uri %]&amp;method=tool&amp;view=log">View access log</a>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Publisher</th>
      <th>Domains</th>
      <th>Accessible by</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH row IN login_rows %]
    <tr>
      <td>[% row.login.publisher_name | html %]</td>
      <td>[% row.login.domains | html %]</td>
      <td>[% row.scope_label | html %]</td>
      <td>
        <a href="/cgi-bin/koha/plugins/run.pl?class=[% CLASS | uri %]&amp;method=tool&amp;edit_id=[% row.login.id | html %]">Edit</a>
        [% IF is_superlib || can_manage %]
        | <a href="/cgi-bin/koha/plugins/run.pl?class=[% CLASS | uri %]&amp;method=tool&amp;delete_id=[% row.login.id | html %]" onclick="return confirm('Delete this publisher login?');">Delete</a>
        [% END %]
      </td>
    </tr>
    [% END %]
  </tbody>
</table>

[% END %]
